name: Add ALL Category to M3U

on:
  push:
    branches: [ main ]
    paths:
      - 'channels.m3u'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Run Python script
        run: |
          python add_all_category.py

      - name: Commit output
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add channels_with_all.m3u
          git commit -m "Updated ALL category automatically"
          git push
